before_install:
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - cd ProfoundData

language: r

sudo: required

warnings_are_errors: true

apt_packages:
  - libnetcdf-dev
  - udunits-bin
  - libudunits2-dev
  - netcdf-bin
  - tcl8.5-dev
  - tk8.5-dev


# This only works if sudo = false.
cache: packages

r:
  - oldrel
  - release
  - devel

